<a href="https://colab.research.google.com/github/RuthKassahun/ML-with-Scikit/blob/main/catagorical_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')
DATA_DIR = "/content/drive/MyDrive/US_census/"

!ls $DATA_DIR

In [ ]:
train_file = 'phpMawTba.csv'
train_fn = os.path.join(DATA_DIR, train_file)
print(train_fn)

In [ ]:
import pandas as pd
census = pd.read_csv(train_fn)

census.head()



> Drop Education Num feature

In [6]:
census = census.drop(columns="education-num")

In [7]:
target_name = "class"
target = census[target_name]

data= census.drop(columns=[target_name])

In [ ]:
data["native-country"].value_counts().sort_index()

> To recognize catagorical columns in the dataset use dtype
> String data values are represented as Object

In [ ]:
data.dtypes

>**'Make_column_selector'** in sci-kit library can be used to catagorize our features into their data types

In [ ]:
from sklearn.compose import make_column_selector as selector
catagorical_columns_selector = selector(dtype_include=object)
catagorical_columns = catagorical_columns_selector(data)
catagorical_columns

In [24]:
data_catagorical = data[catagorical_columns]
data_catagorical.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States
4,?,Some-college,Never-married,?,Own-child,White,Female,United-States

In [ ]:
print(f" The dataset is composed of {data_catagorical.shape[1]} features")

>Encoding oridinal (data with order) catagories to numerical values using **'OrdianlEncoder' **

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

education_column = data_catagorical[["education"]]

encoder = OrdinalEncoder()
education_encoder = encoder.fit_transform(education_column)
education_encoder

> The mapping with respective educational level can be checked

In [27]:
encoder.categories_

[array([' 10th', ' 11th', ' 12th', ' 1st-4th', ' 5th-6th', ' 7th-8th',
        ' 9th', ' Assoc-acdm', ' Assoc-voc', ' Bachelors', ' Doctorate',
        ' HS-grad', ' Masters', ' Preschool', ' Prof-school',
        ' Some-college'], dtype=object)]

In [29]:
data_encoded = encoder.fit_transform(data_catagorical)
data_encoded[:5]

array([[ 4.,  1.,  4.,  7.,  3.,  2.,  1., 39.],
       [ 4., 11.,  2.,  5.,  0.,  4.,  1., 39.],
       [ 2.,  7.,  2., 11.,  0.,  4.,  1., 39.],
       [ 4., 15.,  2.,  7.,  0.,  2.,  1., 39.],
       [ 0., 15.,  4.,  0.,  3.,  4.,  0., 39.]])

In [37]:
print(f"The dataset encoded contains {data_encoded.shape[1]} feature")

The dataset encoded contains 8 feature